{# DESKTOP #}

<div class="main-center__desktop main-center__desktop-events">


{{ include('main/sidebar/_sidebar.twig') }}

    <div class="main-center__right">
       <div class="container">
       <div class = "project_breadcrumbs">
            <ul class = "project_breadcrumbs-list">
                <li><a href="/">Главная</a></li>
                <li>/</li>
                <li><a href="">Мероприятия</a></li>
            </ul>
       </div>
          <div class="events">

              <h1 class="events__title">Мероприятия</h1>


                  <div class="events__type events__type--main events__type--events">
                  {# направление мероприятия #}
                  {% for event_way in all_event_way %}
                  <div class="block__events" data-way_id="{{event_way.id}}"><span class="block__dot" style="background-color:{{event_way.color}}"></span>{{event_way.way_name}}</div>
                  {% endfor %}


                  </div>

                  <div class="events__main">
                        <div class="events__left">
                           <div class="main-select-tablet">
                          <div class="events-tablet__top">
                              <input type="hidden" id="is_calendar_touch" value="0">

                        <div class="events__calendar">
                                  {# календарь #}
                                 <p id="date_calendar"></p>
                                 <input type="hidden" id="events_data" value="{{my_events | json_encode()}}">
                                 <input type="hidden" id="events_filter_date" value="">

                                 {# календарь #}
                        </div>

                        <div class="events__laptop">
                            <div class="events__choise events__choise--events">

                                {# тип мероприятия #}
                                <div class="events__event">
                                    <div class="checkselect">
                                    {% for event_type in all_event_type %}
                                        <label><input type="checkbox"  class = "checkselect_event"  name="event_types[]" value="{{event_type.id}}"> {{event_type.type_name}}</label>
                                    {% endfor %}
                                    <input type="hidden" name="events_hidden" value="" id="events_hidden_val" />
                                        </div>
                                    </div>
                                    {# лекторы #}
                                    <div class="events__lector">
                                            <div class="checkselect checkselect_lectors">
                                            {% for lector in all_lectors %}
                                                <label><input type="checkbox" class = "checkselect_lectors" name="lectors[]" value="{{lector.id}}"> {{lector.full_name}}</label>
                                            {% endfor %}
                                            <input type="hidden" name="lectors_hidden" value="" id="lectors_hidden_val" />
                                                </div>
                                            </div>

                                            <div id = "range" class="events__range">
                                            <label for="amount">Стоимость</label>

                                              <div id="slider-range"></div>

                                              <p class="events__polz">
                                                    <input type="text" id="min" readonly/>
                                                    <input type="text" id="max" readonly/>
                                                </p>
                                            </div>

                                    <div class="events__agree">
                                        <input name="is_free" id="checkbox__agree" type="checkbox">
                                        <label for="checkbox__agree">Только бесплатные</label>
                                    </div>

                                    <div class="events__buttons">
                                           <button class="events__clear">Очистить</button>
                                           <button class="events__apply">Применить</button>
                                    </div>
                                    </div>
                                    </div>
                                    <div class="events__tablet">
                                        <div class="main-select-main">
                        <div class="main-select__left">


                            <div class="main-select__right">
                            <div class="main-all__right">
                                <h3 class="main-select__title">Фильтры</h3>


                                <div class="events__type">
                                {# направление мероприятия #}
                                {% for event_way in all_event_way %}
                                <div class="block__events" data-way_id="{{event_way.id}}"><span class="block__dot" style="background-color:{{event_way.color}}"></span>{{event_way.way_name}}</div>
                                {% endfor %}

                                  </div>

                                <a href="#" class="main-select__button">Показать все фильтры</a>
                                </div>

                                {# Блок скрытый на планшете и мобилке  #}
                                <div class="main-select__mobile">
                                    <div class="main-select__choise">
                                       <div class="events__event">
                                            <div class="checkselect">
                                            {% for event_type in all_event_type %}
                                                <label><input type="checkbox"  class = "checkselect_event"  name="event_types[]" value="{{event_type.id}}"> {{event_type.type_name}}</label>
                                            {% endfor %}
                                            <input type="hidden" name="events_hidden" value="" id="events_hidden_val" />
                                                </div>
                                        </div>

                                        {# лекторы #}
                                        <div class="events__lector">
                                            <div class="checkselect checkselect_lectors">
                                                    {% for lector in all_lectors %}
                                                <label><input type="checkbox" class = "checkselect_lectors" name="lectors[]" value="{{lector.id}}"> {{lector.full_name}}</label>
                                                    {% endfor %}
                                                <input type="hidden" name="lectors_hidden" value="" id="lectors_hidden_val" />
                                            </div>
                                        </div>

                                        <div id = "range" class="events__range">
                                                <label for="amount">Стоимость</label>

                                        <div id="slider-range"></div>

                                                <p class="events__polz">
                                                  <input type="text" id="min" readonly/>
                                                  <input type="text" id="max" readonly/>
                                                </p>
                                          </div>

                                          <div class="events__agree">
                                                <input name="is_free" id="checkbox__agree" type="checkbox">
                                                <label for="checkbox__agree">Только бесплатные</label>
                                            </div>

                                            <div class="events__buttons">
                                                <button class="events__clear">Очистить</button>
                                                <button class="events__apply">Применить</button>
                                            </div>
                                </div>
                              </div>

                            </div>
                        </div>


                    <div class="main-mobile__modals">
                             <a class="popup-modal popup-modal-top" href="#add-modal"><button>Показать все фильтры</button></a>

                             <div id="add-modal" class="form-events mfp-hide white-popup-block">
                                      <p><a class="popup-modal-dismiss" href="#"><img src="/img/close_modal.svg" alt="close_modal"></a></p>
                                            <div class="events__card events__card-modal">
                                                <h3 class="main-modals__title">Фильтры</h3>

                                                   <div class="main-select__choise">

                                                      <div class="events__event">
                                                          <div class="checkselect">
                                                              {% for event_type in all_event_type %}
                                                                  <label><input type="checkbox"  class = "checkselect_event"  name="event_types[]" value="{{event_type.id}}"> {{event_type.type_name}}</label>
                                                              {% endfor %}
                                                              <input type="hidden" name="events_hidden" value="" id="events_hidden_val" />
                                                          </div>
                                                   </div>

                                    {# лекторы #}
                                                  <div class="events__lector">
                                                      <div class="checkselect checkselect_lectors">
                                                          {% for lector in all_lectors %}
                                                              <label><input type="checkbox" class = "checkselect_lectors" name="lectors[]" value="{{lector.id}}"> {{lector.full_name}}</label>
                                                          {% endfor %}
                                                          <input type="hidden" name="lectors_hidden" value="" id="lectors_hidden_val" />
                                                      </div>
                                                  </div>

                                            <div id = "range" class="events__range">
                                                <label for="amount">Стоимость</label>

                                                  <div id="slider-range__events-mobile"></div>

                                                  <p class="events__polz__events-mobile">
                                                      <input type="text" id="min__events-mobile" readonly/>
                                                      <input type="text" id="max__events-mobile" readonly/>
                                                  </p>
                                            </div>

                                    <div class="events__agree">
                                        <input name="is_free" id="checkbox__agree" type="checkbox">
                                        <label for="checkbox__agree">Только бесплатные</label>
                                    </div>

                                    <div class="events__buttons">
                                           <button class="events__clear">Очистить</button>
                                           <button class="events__apply">Применить</button>
                                    </div>
                                                  </div>

                                 </div>
                              </div>
                    </div>

                            </div>
                        </div>
                      </div>


                       {# Планшет #}
                        <div class="main-select-tablet">

                           <div class="main-select-bottom">

                             <div class="main-select-bottom-first">

                                 <div class="main-select__choise main-select__choise--events">
                                     <div class="main-select__choise-first">

                                      <div class = "main-select__choise-first-top">

                                           <div class="events__event">
                                                <div class="checkselect">
                                                {% for event_type in all_event_type %}
                                                    <label><input type="checkbox"  class = "checkselect_event"  name="event_types[]" value="{{event_type.id}}"> {{event_type.type_name}}</label>
                                                {% endfor %}
                                                <input type="hidden" name="events_hidden" value="" id="events_hidden_val" />
                                                    </div>
                                                </div>
                                                {# лекторы #}
                                                <div class="events__lector">
                                                        <div class="checkselect checkselect_lectors">
                                                        {% for lector in all_lectors %}
                                                            <label><input type="checkbox" class = "checkselect_lectors" name="lectors[]" value="{{lector.id}}"> {{lector.full_name}}</label>
                                                        {% endfor %}
                                                        <input type="hidden" name="lectors_hidden" value="" id="lectors_hidden_val" />
                                                            </div>
                                                    </div>
                                            </div>

                                        </div>

                                        <div class ="main-select__choise-first-top">

                                                      <div class="main-select__choise-first">

                                                      <div id = "range" class="events__range">
                                                      <label for="amount">Стоимость</label>

                                                        <div id="slider-range__events"></div>

                                                        <p class="events__polz">
                                                              <input type="text" id="min__events" readonly/>
                                                              <input type="text" id="max__events" readonly/>
                                                          </p>
                                                      </div>
                                                      </div>

                                              <div class="main-select__choise-first">
                                              <div class="events__agree">
                                                  <input name="is_free" id="checkbox__agree" type="checkbox">
                                                  <label for="checkbox__agree">Только бесплатные</label>
                                              </div>
                                         </div>

                                        </div>

                                         <div class ="main-select__choise-first-top">

                                              <div class="events__buttons">
                                                     <button class="events__clear">Очистить</button>
                                                     <button class="events__apply">Применить</button>
                                              </div>
                                        </div>

                                    </div>
                                  </div>
                            </div>
                          </div>
                      </div>
                  </div>


                <div class="events__right">
                      <div class="events__group">

                              {% for event in my_events %}

                              {{ include('elements/event.card.twig', {event:event}) }}

                              {% endfor %}
                              {# конец блока эвентов #}
                            </div>
                        </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
