{# mobile #}

          <div class="main-center__mobile">
                  <div class="main-center__content">

                            {{ include('listener/sidebar/_m.sidebar.twig') }}


                          <div class="main-center__right">
                              <div class="container">

                              <h3 class="personal_cabinet__title personal_cabinet__title-main">Данные лектора</h3>
                              <div class="personal_cabinet__top">
                                  {# блок личных данных слушателя #}
                                    <div class="personal_cabinet__person">
                                        <div class="personal_cabinet__card">
                                            <div class="personal_cabinet__img"><img src="{{photo}}" alt=""></div>
                                            <div class="personal_cabinet__info">
                                                <p class="personal_cabinet__fio">{{full_name}}</p>
                                                <p class="personal_cabinet__work">{{worker_position}}</p>
                                                <p class="personal_cabinet__city">{{worker_city}}</p>
                                                <p class="personal_cabinet__phone"><a href="">{{phone}}</a></p>
                                            </div>
                                        </div>
                                    </div>
                  {# блок личных данных слушателя #}

                                  <div class="personal_cabinet__progress">
                                      <div class="personal_cabinet__points">
                                          <div class="personal_cabinet__points--progress">
                                              <div class="pie-wrapper progress-60">
                                                  <span class="label">10</span>
                                                  <div class="pie">
                                                    <div class="left-side half-circle"></div>
                                                    <div class="right-side half-circle"></div>
                                                  </div>
                                                </div>
                                          </div>
                                          <div class="personal_cabinet__points--info">
                                              <p class="personal_cabinet__points--lead">Кол-во баллов</p>
                                              <p class="personal_cabinet__points--number">10 баллов</p>
                                          </div>
                                      </div>
                                      <div class="personal_cabinet__events">
                                          <div class="personal_cabinet__events--progress">
                                              <div class="pie-wrapper progress-75">
                                                  <span class="label">3</span>
                                                  <div class="pie">
                                                    <div class="left-side half-circle"></div>
                                                    <div class="right-side half-circle"></div>
                                                  </div>
                                                </div>
                                          </div>
                                              <div class="personal_cabinet__events--info">
                                                  <p class="personal_cabinet__events--lead">Мероприятия</p>
                                                  <p class="personal_cabinet__events--number">3 курса</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>

                                  <div class="personal_cabinet__banner">
                                      <img src="/img/pc_banner.svg" alt="pc_banner">
                                  </div>

                                  <div class="personal_cabinet__banner_mobile">
                                      <img src="/img/pc_banner_mobile.svg" alt="pc_banner">
                                  </div>

                                  <div class="personal_cabinet__center">
                                      <h3 class="personal_cabinet__title personal_cabinet__title--events">Мероприятия</h3>
                                         <div class="personal_cabinet__slider">

                                <div class="lectures-slider__main multiple-items">
                                    <div class="lectures-group__block block">
                                        <div class="block__top">
                                            <div class="block__when">
                                            <div class="block__data">30.08.2019</div>
                                            <div class="block__time">09:00 - 19:00</div>
                                            </div>
                                            <div class="block__address">г. Москва, ул. Усачева 62</div>
                                        </div>
                                        <div class="block__bottom">
                                            <div class="block__high">
                                                <div class="block__topic"><span class="block__dot block__dot--paradont"></span>Пародонтология</div>
                                                <div class="block__type">Семинар</div>
                                            </div>
                                            <div class="block__center">
                                                <div class="block__title">Пластическая пародонтологическая хирургия</div>
                                                <div class="block__price">25 000 ₽</div>
                                            </div>
                                            <div class="block__about">
                                                <div class="block__doctor">
                                                    <div class="block__photo"><img src="/img/block_photo.png" alt="block__photo"></div>
                                                    <div class="block__fio">
                                                        <div class="block__name">Бадалян К. Ю.</div>
                                                        <div class="block__work">Стоматолог-пародонтолог</div>
                                                    </div>
                                                </div>
                                                <div class="block__add">
                                                    <div class="block__star">10</div>
                                                    <div class="block__sert">Сертификат</div>
                                                    <div class="block__more">еще</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="lectures-group__block block">
                                        <div class="block__top block__top--second">
                                            <div class="block__when">
                                                <div class="block__data">30.08.2019</div>
                                                <div class="block__time">09:00 - 19:00</div>
                                            </div>
                                            <div class="block__address">г. Москва, ул. Усачева 62</div>
                                        </div>
                                        <div class="block__bottom">
                                            <div class="block__high">
                                                <div class="block__topic"><span class="block__dot block__dot--endo"></span>Эндодонтия</div>
                                                <div class="block__type">Практика</div>
                                            </div>
                                            <div class="block__center">
                                                <div class="block__title">Пластическая пародонтологическая хирургия</div>
                                                <div class="block__price">25 000 ₽</div>
                                            </div>
                                            <div class="block__about">
                                                <div class="block__doctor">
                                                    <div class="block__photo"><img src="/img/block_photo.png" alt="block__photo"></div>
                                                    <div class="block__fio">
                                                        <div class="block__name">Бадалян К. Ю.</div>
                                                        <div class="block__work">Стоматолог-пародонтолог</div>
                                                    </div>
                                                </div>
                                                <div class="block__add">
                                                    <div class="block__star">10</div>
                                                    <div class="block__sert">Сертификат</div>
                                                    <div class="block__more">еще</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="lectures-group__block block">
                                        <div class="block__top block__top--three">
                                            <div class="block__when">
                                                <div class="block__data">30.08.2019</div>
                                                <div class="block__time">09:00 - 19:00</div>
                                            </div>
                                            <div class="block__address">г. Москва, ул. Усачева 62</div>
                                        </div>
                                        <div class="block__bottom">
                                            <div class="block__high">
                                                <div class="block__topic"><span class="block__dot block__dot--terapia"></span>Терапия</div>
                                                <div class="block__type">Семинар</div>
                                            </div>
                                            <div class="block__center">
                                                <div class="block__title">Пластическая пародонтологическая хирургия</div>
                                                <div class="block__price">25 000 ₽</div>
                                            </div>
                                            <div class="block__about">
                                                <div class="block__doctor">
                                                    <div class="block__photo"><img src="/img/block_photo.png" alt="block__photo"></div>
                                                    <div class="block__fio">
                                                        <div class="block__name">Бадалян К. Ю.</div>
                                                        <div class="block__work">Стоматолог-пародонтолог</div>
                                                    </div>
                                                </div>
                                                <div class="block__add">
                                                    <div class="block__star">10</div>
                                                    <div class="block__sert">Сертификат</div>
                                                    <div class="block__more">еще</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="lectures-group__block block">
                                        <div class="block__top">
                                            <div class="block__when">
                                                <div class="block__data">30.08.2019</div>
                                                <div class="block__time">09:00 - 19:00</div>
                                            </div>
                                            <div class="block__address">г. Москва, ул. Усачева 62</div>
                                        </div>
                                        <div class="block__bottom">
                                            <div class="block__high">
                                                <div class="block__topic"><span class="block__dot block__dot--paradont"></span>Пародонтология</div>
                                                <div class="block__type">Семинар</div>
                                            </div>
                                            <div class="block__center">
                                                <div class="block__title">Пластическая пародонтологическая хирургия</div>
                                                <div class="block__price">25 000 ₽</div>
                                            </div>
                                            <div class="block__about">
                                                <div class="block__doctor">
                                                    <div class="block__photo"><img src="/img/block_photo.png" alt="block__photo"></div>
                                                    <div class="block__fio">
                                                        <div class="block__name">Бадалян К. Ю.</div>
                                                        <div class="block__work">Стоматолог-пародонтолог</div>
                                                    </div>
                                                </div>
                                                <div class="block__add">
                                                    <div class="block__star">10</div>
                                                    <div class="block__sert">Сертификат</div>
                                                    <div class="block__more">еще</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                                         
                                      <div class="events">
                                          <div class="events__block events__block--first">
                                          <div class="events__block--pc">
                                              <div class="events__block--top">
                                                  <span>12.10.19-13.10.19</span>
                                              </div>
                                              <div class="events__block--center">
                                                  <span class="events__red"><img src="img/red_icon.svg" alt="red_icon"></span><h3 class="events__lead">Семинар «Подробный ортопедический...</h3>
                                              </div>
                                              <div class="events__block--center">
                                                  <div class="events__start">10 д : 08 ч : 10 м : 02 с</div>
                                                  <div class="events__download"><a class = "download__link" href="">Скачать билет</a></div>
                                              </div>
                                          </div>
                                              <div class="events__more">
                                                      <a class="support" tabindex="1">
                                                              <span class="tip-click">?</span>
                                                              <span class="tip">
                                                                  <p>Дополнительно</p>
                                                                  <p>Отправить счет</p>
                                                              </span>
                                                      </a>
                                              </div>
                                          </div>
                                          <div class="events__block">
                                              <div class="events__block--pc">
                                                  <div class="events__block--top">
                                                      <span>12.10.19-13.10.19</span>
                                                  </div>
                                                  <div class="events__block--center">
                                                      <span class="events__red"><img src="img/red_icon.svg" alt="red_icon"></span><h3 class="events__lead">Семинар «Подробный ортопедический...</h3>
                                                  </div>
                                                  <div class="events__block--center">
                                                      <div class="events__start">10 д : 08 ч : 10 м : 02 с</div>
                                                      <div class="events__download"><a class = "download__link" href="">Скачать билет</a></div>
                                                  </div>
                                              </div>
                                                  <div class="events__more">
                                                          <a class="support" tabindex="1">
                                                                  <span class="tip-click">?</span>
                                                                  <span class="tip">
                                                                      <p>Дополнительно</p>
                                                                      <p>Отправить счет</p>
                                                                  </span>
                                                          </a>
                                                  </div>
                                          </div>
                                          <div class="events__block">
                                              <div class="events__block--pc">
                                                  <div class="events__block--top">
                                                      <span>12.10.19-13.10.19</span>
                                                  </div>
                                                  <div class="events__block--center">
                                                      <span class="events__red"><img src="img/red_icon.svg" alt="red_icon"></span><h3 class="events__lead">Семинар «Подробный ортопедический...</h3>
                                                  </div>
                                                  <div class="events__block--center">
                                                      <div class="events__start">10 д : 08 ч : 10 м : 02 с</div>
                                                      <div class="events__download"><a class = "download__link" href="">Скачать билет</a></div>
                                                  </div>
                                              </div>
                                                  <div class="events__more">
                                                          <a class="support" tabindex="1">
                                                                  <span class="tip-click">?</span>
                                                                  <span class="tip">
                                                                      <p>Дополнительно</p>
                                                                      <p>Отправить счет</p>
                                                                  </span>
                                                          </a>
                                                  </div>
                                          </div>

                                        </div>
                                  </div>



                                  <div class="personal_cabinet__bottom">

                                  </div>

                          </div>
                      </div>
            </div>
          </div>
